<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="java.com.js.mapper.MemberMapper">

    <select id="getMemberList" resultType="Member">
        <!--회원목록 조회-->
        SELECT
        m.*
        FROM
        member m
    </select>

    <select id="getMemberOne" parameterType= "Long" resultType="Member">
        SELECT 
        m.*
        FROM
        member m
        WHERE m.memberid = #{id}
    </select>

</mapper>